/* 

body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377ba8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }
.page           { margin: 2em auto; width: 35em; border: 5px solid #ccc;
                  padding: 0.8em; background: white; }

.entries        { list-style: none; margin: 0; padding: 0; }
.entries li     { margin: 0.8em 1.2em; }
.entries li h2  { margin-left: -1em; }
.add-entry      { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl   { font-weight: bold; }
.metanav        { text-align: right; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #cee5F5; padding: 0.5em;
                  border: 1px solid #aacbe2; }
.error          { background: #f0d6d6; padding: 0.5em; }

  */

  
body { padding-top: 70px; margin: auto; width:70%; }

.after-btn { margin-left: 8px; }

.container-div {
	width: 75%;
	padding: 24px;
	margin: 0 auto;
	min-height: 500px;
	border-radius: 10px;
	border: 1px solid #e3e3e3;
	background-color: #f5f5f5;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.form-div {
	width: 40%;
	min-width: 248px;
	padding: 24px;
	margin: 0 auto;
	border-radius: 6px;
	border: 1px solid #f3f3f3;
	background-color: #fff;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.page-header {
  padding-bottom: 5px;
  margin: 20px 0 20px;
  border-bottom: 2px groove #c0c0c0;
}

table {
	table-layout: fixed;
	text-overflow: ellipsis;
	margin: auto;
	border-collapse: collapse;
}

tr {
	text-align: center;
	vertical-align: middle;
	display: table-row;
}

/* 
tr:nth-child(odd) {
	background:#eeeff2;
}

tr:nth-child(even) {
	background:#dfe1e7;
}
 */

thead tr {
	background:#f0f0f0;
}

tbody tr:nth-child(6n+1) {
	background:#fff;
}

tbody tr:nth-child(6n+2) {
	background: #DFF0D8;
}

tbody tr:nth-child(6n+3) {
	background:#fff;
}

tbody tr:nth-child(6n+4) {
	background: #D9EDF7;
}

tbody tr:nth-child(6n+5) {
	background:#fff;
}

tbody tr:nth-child(6n+6) {
	background: #FCF8E3;
}

tbody th, td {
	padding: 8px;
 	border: solid #fff;
	border-width: 1px 0px;
}

th {
	padding: 12px 8px;
}

input {
	max-width: 200px;
}

