{% extends "layout.html" %}

{% block title %}Alter server{% endblock %}


{% block content_header %}Alter server{% endblock %}

{% block content_body %}

  {% if session.username %}
  
    <div class="form-div">
    
      <form action="{{ url_for('alter_server') }}" method="post">
      
      <input type="hidden" name="id" value="{{ server.id }}">

      <div class="form-group">
        <label for="ip">IP</label>
        <input type="text" class="form-control" id="ip" name="ip" value="{{ server.server_ip }}">
      </div>
      
      <div class="form-group">
        <label for="port">Port</label>
        <input type="text" class="form-control" id="port" name="port" value="{{ server.server_port }}">
      </div>
      
      <div class="form-group">
        <label for="auth_user">Auth User</label>
        <input type="text" class="form-control" id="auth_user" name="auth_user" value="{{ server.auth_user }}">
      </div>
      
      <div class="form-group">
        <label for="auth_pwd">Auth Password</label>
        <input type="password" class="form-control" id="auth_pwd" name="auth_pwd" value="{{ server.auth_pwd }}">
      </div>
      
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="reset" class="btn btn-primary">Reset</button>
          
      </form>
      
    </div>
    
  {% endif %}

{% endblock %}