{% extends "layout.html" %}

{% block title %}Items{% endblock %}


{% block content_header %}Items{% endblock %}

{% block content_body %}

  {% if session.username %}
    
    {% if items %}
    
        <table class="table-hover table-striped">
            <thead>
            <tr>
              <th width="3%">#</th>
              <th width="12%">State</th>
              <th width="37%">Name</th>
              <th width="38%">Description</th>
              <th width="10%">Option</th>
            </tr>
            </thead>
            
            <tbody>
            
            {% for item in items %}
              
              <tr class="active">
              
                <td scope="row" width="3%" align="left">{{ loop.index }}</td>
                
                {% if item.statename == "RUNNING" %}
                  <td width="12%" align="left" style="color:green">{{ item.statename }}</td>
                {% else %}
                  <td width="12%" align="left" style="color:red">{{ item.statename }}</td>
                {% endif %}
                                
                <td width="37%" align="left">{{ item.name }}</td>
                
                <td width="38%" align="left">{{ item.description }}</td>
                
                <td width="10%" align="center">
                    <form method="post" action="{{ url_for('contorl_item') }}">
                    
                      <input type="hidden" name="server" value="{{ server}}">
                      <input type="hidden" name="name" value="{{ item.name }}">
                      
                      {% if item.statename == "RUNNING" %}
                        <button type="submit" class="btn btn-sm btn-danger" name="control" value="stop">stop</button>
                      {% else %}
                        <button type="submit" class="btn btn-sm btn-success" name="control" value="start">start</button>
                      {% endif %}
                    </form>
                </td>
                
              </tr>
              
            {% endfor %}
            
            </tbody>
            
        </table>
        
    {% else %}
        <p>No items here so far</p>
    
    {% endif %}

  {% endif %}

{% endblock %}

